@media screen and (max-width: 768px) {
    .country-flag-img {
        width: 230px;
        border-radius: 10px;
    }
    
    .coutry-name-title {
        font-family: Arial, Helvetica, sans-serif;
        font-size: large;
    }
}

@media screen and (min-width: 768px) {
    .country-flag-img {
        width: 350px;
    }
    
    .coutry-name-title {
        font-family: Arial, Helvetica, sans-serif;
        font-size: large;
    }
}
