@media screen and (max-width: 768px) {
    #countries {
        max-width: 25px;
    }

    .research-gif {
        width: 25px;
        height: 20px;
    }

    .countries-desktop {
        display: none;
    }

    .header-icon-dropdown-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100px;
    }
}

@media screen and (min-width: 768px) {
    #countries {
        display: none;
    }
    .countries-desktop {
        max-width: 150px;
    }

    .research-gif {
        display: none;
    }

    .header-icon-dropdown-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 200px;
    }
}