@media screen and (max-width: 768px) {
    #rank-countries-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .thead-text {
        font-family: Arial, Helvetica, sans-serif;
        font-size: small;
        text-align: start;
    }
    
    .rank-table-container {
        border-radius: 10px;
        box-shadow: 2px 3px 5px black;
        padding: 4px !important;

    }
    .tbody-text {
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        border: 1px solid rgb(160, 160, 160);
        padding: 2px !important;
    }

    .tbody-text-detail {
        display: none;
    }

    .countries-names {
        text-align: start;
    }
}

@media screen and (min-width: 768px) {
    #rank-countries-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .thead-text {
        font-family: Arial, Helvetica, sans-serif;
        font-size: small;
        text-align: center;
        
    }

    .rank-table-container {
        border-radius: 10px;
        box-shadow: 2px 3px 5px black;
        padding: 9px !important;
        
    }
    
    .rank-table {
        width: 100% !important;
    }
    .tbody-text {
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
    }

    table {
        border-collapse: collapse;
        width: 100% !important;
      }

    td.countries-names {
        padding: 3px !important;
        border: 1px solid white;

      }
    
    td.countries-names:hover {
        border-left: 1px solid rgb(253, 192, 170);
        border-right: 1px solid rgb(253, 192, 170);
      }

    tr.tbody-text:hover {
        background-color: rgb(253, 192, 170);
    }

    .tbody-text-detail-button {
        border-radius: 8px;
        color: white;
        padding: 2px !important;
        background-color: rgb(23, 151, 23);
        border: 2px solid rgb(23, 151, 23);
        width: 60px;
        height: 22px;
    }

    .tbody-text-detail-button:hover {
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
        rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
        rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
        border: white;
        background: linear-gradient(transparent);
        transition: 0.3s;
    }

    .tbody-text-detail-button:active {
        box-shadow: rgba(0, 0, 0, 0.4) 3px 3px 6px 0px inset,
        rgba(0, 0, 0, 0.3)
        -3px -3px 6px 1px inset;
    }

    .button-container {
        background-color: white;
        border-bottom: 3px solid white;
    }

    .countries-names {
        text-align: start;
    }
}
